body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	align-self: center;
	align-content: center;
}

h1 {
	text-align: center;
	margin: 0;
	
}

main {
	display: flex;
	flex-direction: column;
}

.descripcion {
    margin: 20px 20px 20px calc(20% + 20px);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    width: 60%;
    text-align: center;
	align-content: center;
}


aside {
	background-color: #ccc;
	padding: 20px;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 200px;

}

.titulo_aside {
	font-weight: bold;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li a {
	display: block;
	padding: 10px;
	color: #333;
	text-decoration: none;
}

nav li a:hover {
	background-color: #333;
	color: #fff;
}

section {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	margin-bottom: 20px;
}

.proyecto-contenido {
    
    margin: 20px auto; /* se centra horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.power-bi{
	width: 1350;
	height: 1000;
	margin-bottom: 10px;
	transform-origin: 0 0;
	padding-bottom: 0%;
	-webkit-transform: scale(0.81);
}

img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

h2 {
	margin-top: 0;
	font-weight: bold;
}

.tit-power-bi{
	align-self: center;
	align-items: center;
	align-items: center;
	transform-origin: center;
}

video {
	max-width: 100%;
	height: auto;
}

@media only screen and (max-width: 768px) {
	aside {
		position: static;
		width: 100%;
	}
	section {
		margin-left: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	header {
		font-size: 24px;
		padding: 10px;
	}
	.descripcion {
		margin: 10px;
		padding: 10px;
	}
	aside {
		padding: 10px;
	}
	nav li a {
		padding: 5px;
	}
	section {
		padding: 10px;
	}
}
.proyectos {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    flex-wrap: wrap;
	
  }
section {
	border: 1px dotted black;
}

.lista {
	align-self: flex-start;
	margin-left: 10%;
	
}
